$theme-colors: (
  'success': #9db5b2,
  'danger': #fadd41,
  'info': #626262,
  'dark': #2d2d2a,
  'grey': #262626,
);

@import '~bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@mixin fullScreen {
  height: 100vh;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin whitStrokeTxt {
  font-size: 220px;
  line-height: 281px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  text-stroke: 2px rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
}

body {
  height: 100%;
  background-color: #fff;
  color: #fff;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  overflow-x: hidden;
}

.App {
  flex-direction: column;
  width: 100%;
  height: 100%;
}
@import './Cursor.scss';
@import './Loader.scss';

.landing {
  background: theme-color('dark');

  .works {
    background: linear-gradient(
      179.97deg,
      #262626 8.93%,
      #262626 8.94%,
      #454545 99.95%
    );
    height: 120vh;
  }

  .skills {
    background: linear-gradient(
      180.09deg,
      #454545 4.85%,
      rgba(113, 124, 122, 0.932813) 34.54%,
      rgba(157, 181, 178, 0.85) 99.87%
    );
  }

  .contact {
    @include fullScreen;
    background: #fff;
  }
}

@import './Hero.scss';
@import './Main.scss';
@import './Nav.scss';
