#contact {
  height: calc(var(--full-vh) * 3.6);
  position: relative;
  transition: background 0.5s 0.5s ease-in-out;

  &::after {
    content: "";
    background-image: url("../img/noise02.png");
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-repeat: round;
    opacity: 0;
    z-index: 0;
    transition: opacity 0s 0.5s ease-in-out;
  }

  .background-holder {
    opacity: 0;
    visibility: visible;
    background-image: url("../img/mesh-btm-01.png");
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position: bottom 4%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--full-vh);
    width: 100%;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
    will-change: opacity;
    transition: opacity 1s ease-in-out;

    &.bg-1 {
      background-image: url("../img/mesh-btm-01.png");
    }
    &.bg-2 {
      background-image: url("../img/mesh-btm-02.png");
    }
    &.bg-3 {
      background-image: url("../img/mesh-btm-03.png");
    }
  }

  &.scrolled {
    background: var(--color-light) !important;
    transition: background 0.2s ease-in-out;

    &::after {
      opacity: 0.2;
      transition: opacity 0s ease-in-out;
    }

    .background-holder {
      transition: opacity 1s ease-in-out;

      &.active {
        opacity: 1;
      }
    }

    .section-title {
      .line span {
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        text-stroke: var(--text-stroke-width) transparent;
        -webkit-text-stroke: var(--text-stroke-width) transparent;
      }
      &:nth-of-type(1) {
        .line {
          span {
            -webkit-text-stroke: var(--text-stroke-width) rgb(var(--color-light-grey-rgb) / 95%);
            text-stroke: var(--text-stroke-width) rgb(var(--color-light-grey-rgb) / 95%);
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
          }
        }
      }
    }

    #contact-details-scroll {
      opacity: 1;
      visibility: visible;
      transition: 0.3s 0.5s opacity ease-in-out, 0s 0.5s visibility ease-in-out;
    }
  }

  #contact-details-scroll {
    position: absolute;
    top: calc(var(--full-vh) * 2.85);
    opacity: 0;
    height: var(--full-vh);
    width: 100%;
    visibility: hidden;
    z-index: 2;
    transition: 0.3s opacity ease-in-out, 0s 0.3s visibility ease-in-out;

    .contact-details-wrapper {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
      position: relative;
      z-index: 3;
      .text {
        font-size: 7rem;
        display: flex;
        flex-direction: column;
        span {
          &:nth-of-type(1) {
            margin-left: 5%;
          }
          &:nth-of-type(2) {
            margin-left: 20%;
            position: relative;
            width: fit-content;
          }
        }
        .smileyFace {
          position: absolute;
          top: -75%;
          right: -10%;
          height: 10rem;
          width: 10rem;
          background-color: transparent;
          border-radius: 50%;
          border: var(--color-dark) solid 5px;
          z-index: -1;

          .left-eye {
            position: absolute;
            top: 20%;
            left: 35%;
            height: 3rem;
            width: 5px;
            background-color: var(--color-dark);
            z-index: 2;
          }

          .right-eye {
            position: absolute;
            top: 20%;
            right: 35%;
            height: 3rem;
            width: 5px;
            background-color: var(--color-dark);
            z-index: 2;
          }

          .mouth {
            position: absolute;
            top: 10%;
            left: 8%;
            height: 7rem;
            width: 8rem;
            border-width: 5px;
            border-style: solid;
            border-color: transparent;
            background-color: transparent;
            border-bottom-color: var(--color-dark);
            border-bottom-style: solid;
            border-bottom-width: 5px;
            border-radius: 0% 0% 50% 50%;
            z-index: 2;
          }
        }
      }
      a.mail-link {
        font-family: "Satoshi";
        font-style: italic;
        font-size: 5rem;
        font-weight: 800;
        color: var(--color-dark);

        &:hover {
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
          -webkit-text-stroke: var(--text-stroke-width) var(--color-dark);
          text-stroke: var(--text-stroke-width) var(--color-dark);
        }
      }

      .social-links-container {
        margin-left: auto;
        margin-right: 4rem;
        position: relative;
        z-index: 4;
        pointer-events: auto;

        .text {
          font-size: 4rem;
          font-family: serif;
        }

        .social-links-list {
          text-align: right;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          pointer-events: auto;
          
          .a {
            width: fit-content;
            color: var(--color-dark);
          }

          a {
            pointer-events: auto;
            position: relative;
            z-index: 5;
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0.2rem 0;
          }
        }

        @media (max-width: 768px) {

          .text {
            font-size: 5rem;
            margin-bottom: 0.6rem;
          }

          .social-links-list {

            a {
              font-size: 2.5rem;
              line-height: 1.5;
              touch-action: manipulation;
            }
          }
        }
      }
    }

    .bg-changer {
      position: absolute;
      right: 3%;
      top: calc(var(--full-vh) * 0.7);
      
      .btn {
        background: transparent;
        border: none;
        transition: 0.3s all ease-in-out;
        color: var(--color-light);
        @media (max-width: 768px) {
          font-size: 2rem;
        }
      }
    }
  }

  .section-title {
    margin-top: calc(var(--full-vh) * -0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    z-index: 1;
    pointer-events: none;

    .line {
      display: flex;
      gap: 3rem;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;
      white-space: nowrap;
      pointer-events: none;

      .contact-me-unit {
        display: inline-flex;
        align-items: baseline;
        font-size: 15rem;
        line-height: 13rem;
        font-family: "Maragsa";
        -webkit-text-stroke: var(--text-stroke-width) var(--color-max-light);
        text-stroke: 2px var(--color-max-light);
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        transition: all 0.5s ease-in-out;

        .second-word {
          margin-left: 2rem;
        }

        @media (max-width: 768px) {
          font-size: 28rem;
          line-height: 28rem;
        }
      }
    }

    &:nth-of-type(1) {
      height: calc(var(--full-vh) * 3.6);
      top: 0;
      .line {
        top: 0;
      }
    }
    &:nth-of-type(2) {
      height: calc(var(--full-vh) * 3.5);
      top: calc(var(--full-vh) * 0.5);
      .line {
        top: calc(var(--full-vh) * 0.2);
      }
    }
    &:nth-of-type(3) {
      height: calc(var(--full-vh) * 3);
      top: var(--full-vh);
      .line {
        top: calc(var(--full-vh) * 0.4);
      }
    }
    &:nth-of-type(4) {
      height: calc(var(--full-vh) * 2.5);
      top: calc(var(--full-vh) * 1.5);
      .line {
        top: calc(var(--full-vh) * 0.6);
      }
    }
    &:nth-of-type(5) {
      height: calc(var(--full-vh) * 3);
      top: calc(var(--full-vh) * 2);
      .line {
        top: calc(var(--full-vh) * 0.8);
      }
    }
  }
}
