#cursor {
  width: 3rem;
  height: 3rem;
  border: 0.5px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  // top: 25%;
  // left: 77%;
  transition: all ease-in-out;
  transform-origin: 150% 150%;
  z-index: 2500;
  visibility: hidden;
}