header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0% 2%;
  min-height: 80px;
  position: fixed;
  z-index: 2000;

  --logo-text-size: 1.5rem;

  .logo-text {
    font-family: "Satoshi-Black";
    font-size: var(--logo-text-size);
    font-weight: 900;
    display: flex;
    overflow: hidden;
    cursor: pointer;

    .hidden-part {
      transform: translateY(calc(var(--logo-text-size) * 2)) skew(0deg, 20deg);
      transition: 0.3s 0s all ease-in-out;
    }

    .ending-part {
      transform: translateX(calc(var(--logo-text-size) * -5.55));
      margin-left: 5px;
      transition: 0.3s 0.3s all ease-in-out;
    }
    &:hover {
      .hidden-part {
        transform: translateY(0);
        transition: 0.3s 0.3s all ease-in-out;
      }
      .ending-part {
        transform: translateX(0);
        transition: 0.3s 0s all ease-in-out;
      }
    }

    @media (max-width: 768px) {
      --logo-text-size: 2.5rem;
    }
  }

  .menu-toggler {
    width: 36px;
    // z-index: 2500;
    cursor: pointer;

    span {
      display: block;
      background: var(--color-max-light);
      color: var(--color-max-light);
      height: 1px;
      border-radius: 1px;
      margin: 9px 0 6px 0;
      transition: all 0.3s ease-in;
      margin-left: auto;

      &:nth-of-type(1) {
        width: 36px;
      }
      &:nth-of-type(2) {
        width: 26px;
      }
    }

    &:hover {
      span {
        width: 36px;
      }
    }

    &.active {
      span {
        width: 36px;
      }
    }

    &:hover.active {
      span:nth-of-type(2) {
        width: 26px;
      }
    }
  }
}

.light {
  header {
    .logo-text {
      color: var(--color-dark);
    }
    .menu-toggler {
      span {
        background: var(--color-dark);
        color: var(--color-dark);
      }
    }
  }
}
