.hero {
  z-index: 1;
  min-height: var(--full-vh);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .background-container {
    background-image: url("../img/mesh02.png");
    background-repeat: no-repeat;
    background-size: 200% 200%;
    background-attachment: fixed;
    background-size: 100% 120%;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--full-vh);
    width: 100%;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    transition: opacity 1s ease-in-out;

    &.active {
      opacity: 1;
    }

    &.bg-1 {
      background-image: url("../img/mesh01.png");
    }
    &.bg-2 {
      background-image: url("../img/mesh02.png");
    }
    &.bg-3 {
      background-image: url("../img/mesh03.png");
    }

    &::after {
      content: "";
      background-image: url("../img/noise02.png");
      position: absolute;
      height: 110vh;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: round;
      opacity: 0.3;
      background-attachment: fixed;
    }

    @keyframes bgChange {
      0%,
      100% {
        background-image: url("../img/mesh01.png");
      }
      25% {
        background-image: url("../img/mesh02.png");
      }
      75% {
        background-image: url("../img/mesh03.png");
      }
    }
  }

  .hero-text-wrapper {
    width: 95%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2% 10%;

    .text {
      font-size: 4rem;
      font-family: seif;
      // position: relative;
      text-align: center;
      height: 6rem;
    }

    .text-1 {
      span {
        margin-left: -45%;
      }
    }
    .text-2 {
      letter-spacing: 0.2rem;
    }
    .text-inbetween {
      font-size: 4rem;
      height: 5rem;
      margin-top: -1rem;
      margin-bottom: 1rem;
      -webkit-text-stroke: var(--text-stroke-width) var(--color-max-light);
      text-stroke: var(--text-stroke-width) var(--color-max-light);
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      span {
        margin-right: -50%;
      }
    }
    .text-3 {
      span {
        margin-right: -50%;
      }
    }
    .text-4 {
      font-style: italic;
      font-size: 5rem;
      margin-left: -30%;
    }
    .text-3,
    .text-2 {
      font-family: seif;
      font-weight: 700;
      -webkit-text-stroke: var(--text-stroke-width) var(--color-max-light);
      text-stroke: var(--text-stroke-width) var(--color-max-light);
      -webkit-text-fill-color: unset;
      text-fill-color: unset;
      &:hover {
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        color: transparent;
      }
    }
  }
  .bg-changer {
    position: absolute;
    right: 3%;
    top: 93%;
    .btn {
      background: transparent;
      border: none;
      transition: 0.3s all ease-in-out;
      color: var(--color-light);

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }
  }
}
