.loader {
    background: theme-color(max-light);
    height: 100%;
    width: 100%;
    position: absolute;

    &.loader-first {
        z-index: 1000;
        background-color: theme-color('success');
    }
    &.loader-second {
        z-index: 1001;
        background-color: theme-color('info');
    }
}
