.old {
    .hero {
        z-index: 1;
        min-height: 100vh;
        height: 100%;
        width: 100%;
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .background-container {
            background-image: url(/static/media/mesh01.95a8dc6d.png);
            background-repeat: no-repeat;
            background-size: 200% 200%;
            background-attachment: fixed;
            background-size: 100% 120%;
            background-attachment: fixed;
            position: absolute;
            top: 0;
            left: 0;
            height: 150vh;
            width: 100%;
            z-index: -1;

            &::after {
                content: '';
                background-image: url('../img/noise02.png');
                position: absolute;
                height: 150vh;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-repeat: round;
                opacity: 0.3;
                background-attachment: fixed;
            }
        }

        div {
            font-size: 2rem;
            font-family: Roboto Mono;
            font-style: italic;
            font-weight: normal;
        }

        .location {
            h2 {
                width: 25%;
                text-align: right;
                padding-right: 1%;
                background-size: 100% 200%;
                background-position: 0% 40%;
                background-image: linear-gradient(
                    to top,
                    theme-color('success') 50%,
                    transparent 50%
                );
                -webkit-transition: background-position 0.4s;
                -moz-transition: background-position 0.4s;
                transition: background-position 0.4s;
            }
            h2:hover {
                background-position: 0 90%;
            }
        }
        .job {
            h2 {
                text-align: right;
                height: 50%;
                color: theme-color('success');
            }
            .arrow {
                cursor: pointer;
                border-left: 1px solid;
                border-bottom: 1px solid;
                border-color: theme-color('success');
                width: 25px;
                height: 25px;
                transform: rotate(-45deg);
            }
        }
    }
}
